body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

#search {
    width: 100%;
    padding: 15px 50px 15px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    background-color: #fafafa;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#search:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff6b6b;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s ease;
}

#clear:hover {
    background-color: #d9534f;
}


#search:not(:placeholder-shown)~#clear {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 20px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    color: #333;
}

footer img {
    width: 20px;
    height: 20px;
}