html {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;


}

body {
    font-family: Georgia, Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #4C4C4C;
    scroll-behavior: smooth;


}

.header {
    margin-bottom: 110px;


}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;


}

.header__logo_title {
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 2px;

}

.header__logo_text {
    color: #292929;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
}

.menu__list {

    display: flex;
    gap: 0 35px;
    padding-top: 17px;

}

.menu__item {
    color: #545454;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.menu__item:hover {
    color: #FDDCC4;
}

.menu__item.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #292929;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    border-bottom: 3px solid #F1CDB3;

}

/* -------------Our friends ----------------- */

.our_friends {
    margin-bottom: 90px;


}

.our_friends__inner {
    min-height: 697px;
}

.our_friends__title {
    margin-left: 400px;
    margin-bottom: 55px;
    color: #545454;
    font-weight: 400;
    font-size: 35px;
    font-family: Georgia;
    max-width: 400px;
    line-height: 1.4;
    text-align: center;
}

.our_friends__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 110px;
}

.our_friends__item {
    text-align: center;
}

.our_friends__item-img {
    margin-bottom: 20px;
}

.our_firends__item-name {
    margin-bottom: 30px;
    color: #545454;
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    margin-bottom: 20px;
}

.our_friends__item-btn {
    color: #292929;
    font-size: 17px;
    font-family: Georgia;
    font-weight: 400;
    padding: 15px 50px;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
    display: inline-block;
}

.our_friends__navigation {
    margin-top: 1px;
    display: flex;
    gap: 20px;
    justify-content: center;
}




/* ----------- Footer ------------ */

.footer {
    background-image: linear-gradient(45deg, #5B483A, #262425);

}

.footer__inner {
    display: flex;
    justify-content: space-between;

}

.footer__inner_contacts {
    max-width: 280px;
}

.footer__inner_adress {
    max-width: 300px;
}

.footer__inner_title {
    margin-top: 60px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 35px;
    font-family: Georgia;
    max-width: 290px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 40px;

}

.footer__inner_text {
    color: #F1CDB3;
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    line-height: 1.3;
    margin-bottom: 76px;
}

.footer__img {
    margin-top: 40px;
}

.contacts__mail {
    display: flex;
    gap: 20px;
}

.contacts__phone {
    display: flex;
    gap: 20px;
}

.contacts__adress1 {
    display: flex;
    gap: 20px;
}

.contacts__adress2 {
    display: flex;
    gap: 20px;

}

@media (max-width: 768px) {
    .header {
        margin-bottom: 110px;
    }

    .menu__list {
        margin-right: 25px;
    }


    .our_friends__title {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .scarlett {
        display: none;
    }

    .freddie {
        display: none;
    }

    .our_friends {
        margin-bottom: 50px;
    }

    .our_friends__items {
        gap: 40px;
        margin-left: 70px;

    }

    .our_friends__arrow.right {
        margin-right: 20px;

    }

    .our_friends__item-img {
        max-width: 96%;

    }

    .our_firends__item-name {
        margin-top: 10px;

    }

    .our_friends__btn {
        margin-bottom: 120px;
        margin-left: 230px;

    }


    .footer__inner {
        flex-wrap: wrap;
        margin-left: 30px;

    }

    .footer__img {
        margin-left: 180px;
    }

    @media (max-width: 320px) {
        .header {
            margin-bottom: 70px;
        }

        .menu {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 30px;
            height: 35px;
            cursor: pointer;
            transition: transform 0.3s;

        }

        .line {
            width: 100%;
            height: 3px;
            background-color: #000000;
            margin: 3px 0;
            transition: transform 0.3s, opacity 0.3s;
        }

        .menu__list {
            display: none;
        }



        .charly {
            display: none;
        }

        .timmy {
            display: none;
        }

        .sophia {
            display: none;
        }

        .scarlett {
            display: none;
        }

        .freddie {
            display: none;
        }

        .katrine {
            margin-bottom: 30px;
        }

        .jennifer {
            margin-bottom: 30px;
        }

        .woody {
            margin-bottom: -30px;
        }


        .our_friends__inner {
            flex-wrap: wrap;

        }

        .our_friends__title {
            margin-left: 5px;
            margin-bottom: 40px;
            font-size: 25px;
            max-width: 300px;
            line-height: 1.4;
            text-align: center;
        }

        .our_friends__items {
            margin-left: 5px;
        }



        .our_friends__arrow.right {
            margin-top: 435px;
        }

        .our_friends__arrow.left {
            margin-top: 435px;

        }

        .our_friends__item-btn {
            padding: 5px 20px;
            height: 50px;
            width: 180px;
        }

        .our_friends__btn {
            margin-bottom: 10px;
            margin-left: 10px;

        }

        .footer {
            margin-top: -40px;
        }

        .footer__inner {
            flex-wrap: wrap;
            margin-left: 10px;

        }

        .footer__img {
            margin-left: 5px;
        }

        .footer__inner_title {
            font-size: 25px;
            text-align: center;
        }


    }

}